/* Enter your CSS here */
#page-body .container-max:not(.page-content){
	max-width: 100%;
    padding-right: 0;
    padding-left: 0;
}

.widget{
    margin-bottom: 0.2rem;
}
.navbar{
    background-color: #2b2b2b;
}
.wrapper-main #page-header.top-bar{
    background-color: #000000;
}
.footer .dark{
    background-color: #1e1e1e;
    color: white;
}
.footer{
    background-color: #2b2b2b;
    color: #8e8e8e;    
}
#page-body{
    background-color: white;
    /*margin-top: 57px;*/
}
.wrapper-main{
    background-color: #2b2b2b;
}

.navbar-brand img{
    max-height: 3.5rem;
}
.footer-brand img{
    max-height: 2em;
}
#page-header .controls-list > li a:not(.small){
    font-size: 1rem;
    line-height: 50px;
}
#page-header .controls-list > li{
    /*
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    */
}
.footer-social img{
    width: 30px;
}

