/* Enter your CSS here */
#page-body .container-max:not(.page-content){
	max-width: 100%;
    padding-right: 0;
    padding-left: 0;
}
.page-content{
    background-color:white;
}
.single-rightside{
    position: relative;
    left:0;
}
.widget{
    margin-bottom: 0.2rem;
}
.navbar{
    background-color: #2b2b2b;
}
.wrapper-main #page-header.top-bar{
    background-color: #000000;
}
.footer-column h2{
    border-bottom: 1px solid #8e8e8e;
    padding: 0 0 8px;
    font-size: 1.3rem;
}
.variation-input-button{
    visibility: hidden;
    height: 0;
    width: 0;
}
.footer a{
    color: #8e8e8e;
}
.footer a:hover{
    color: white;
}
.footer.dark{
    background-color: #1e1e1e;
    color: white;
}
.footer{
    background-color: #2b2b2b;
    color: #8e8e8e;    
}
#page-body{
    background-color: white;
    /*margin-top: 57px;*/
}
.wrapper-main{
    background-color: #2b2b2b;
}

.navbar-brand img{
    max-height: 3.5rem;
}
.footer-brand img{
    max-height: 2em;
}
#page-header .controls-list > li a:not(.small){
    font-size: 1rem;
    line-height: 50px;
}
#page-header .controls-list > li{
    /*
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    */
}
.footer-social img{
    width: 30px;
}
#mainNavbarCollapsable ul.mainmenu{
    color: #bcbdc0;
    text-align: left;
}
#mainNavbarCollapsable ul.mainmenu a:hover{
    color: white;
}
#mainNavbarCollapsable ul.mainmenu:not(.nav-dropdown-inner) > li{
    flex-grow: 1;
    border-left: 1px solid grey;
}
#mainNavbarCollapsable ul.mainmenu:not(.nav-dropdown-inner) > li:last-child{
    border-right: 1px solid grey;
}
#mainNavbarCollapsable ul.mainmenu li a{
    padding: 0.5rem;
}

nav.navbar.megamenu{
    border-top: 1px solid grey;
}

.widget .widget-inner .widget{
    margin-bottom:1px;
}
.overlay{        
    z-index: 20;
    position: relative;
    margin-bottom: -30px;
    top: 0;
    margin-top: auto;
}
.overlay img{
    width: 100%;
}

.invert{
    background-color: black;
    color: white;
}
.design_ln_col1{
    width: 30px;
    height: 3px;
    background-color: #dc257d;
    display: block;
}
.design_ln_col2{
    width: 30px;
    height: 3px;
    background-color: #1961ff;
    display: block;
}

@media screen and (min-width: 992px) {
    .brand-wrapper{
        position: absolute;
    }
    h1.home{
        font-size: 60px;
    }
    h2.home{
        font-size: 40px;
    }
    p{
        font-size: 20px;
    }
}
@media screen and (min-width: 768px) {
    .brand-wrapper{
        position: absolute;
    }
}
    
@media screen and (min-width: 576px) {
    .brand-wrapper{
        position: absolute;
    }
}