/* Enter your CSS here */
#page-body .container-max:not(.page-content){
	max-width: 100%;
    padding-right: 0;
    padding-left: 0;
}

.widget{
    margin-bottom: 0.2rem;
}
.navbar{
    background-color: #2b2b2b;
}
.wrapper-main #page-header.top-bar{
    background-color: #000000;
}
.footer{
    background-color: #2b2b2b;
    color: #8e8e8e;    
}
#page-body{
    background-color: white;
    margin-top: 57px;
}
.wrapper-main{
    background-color: #2b2b2b;
}

.navbar-brand img{
    max-height: 3.5rem;
}
#page-header .controls-list > li a:first-child{
    font-size: 1rem;
    line-height: 50px;
}