{% import "PlentyTheme::Category.Macros.CategoryTree" as Tree %}
{% for t in categories %}
    <div>{{lang}} | {{t.id}} - {{t.details[0].nameUrl}}</div>
{% endfor %}

<ul class="mainmenu">
    {{ Tree.get_nav_bar(
        categories,
        "",
        ceresConfig.header.megamenuLevels,
        {
            "1": ceresConfig.header.megamenuItemsStage1,
            "2": ceresConfig.header.megamenuItemsStage2,
            "3": ceresConfig.header.megamenuItemsStage3
        }
    ) }}
</ul>